body{
	margin: 20px;
}

h1{
	text-align: center;
	color: #444;
}

.autor{
	text-align: center;
}

img{
	float: left;
	border: 2px dashed #555;
	margin-right: 10px;
	height: 150px;
	margin-top: -60px;
}

a{
	text-decoration: none;
	color: #C52C03;
	font-size: 20px;
}

blockquote{
	border-right: 3px dashed #666;
}

h2{
	text-decoration: underline;
}